<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xalz.mappers.ActivityMemberMapper" >
  <resultMap id="BaseResultMap" type="com.xalz.bean.ActivityMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="activ_id" property="activId" jdbcType="INTEGER" />
  </resultMap>
</mapper>