@charset "UTF-8";

#activ_mamager {
	background-color: rgba(30, 110, 155, 0.7);
}


a {
	text-decoration:none;
	outline: 0;
}



#activmag_search_top {
	width: 1000px;
	height: 56px;
	line-height: 56px;
	margin-left: 20px;
	font-size: 16px;
	color: #4A4A4A;
}

#activmag_search_content {
	width: 1000px;
	height: 80px;
	margin-left: 30px;
	margin-top: 20px;
}
#activmag_search_content  td {
	font-size: 14px;
	color: #4A4A4A;
}

#activmag_search_content  input {
	font-size: 14px;
	color: #4A4A4A;
	border-radius: 5px;
	outline: 0;
	width: 170.4px;
	padding-left: 3px;
	border-width: 1px;
	border-style: solid;
}

#activmag_search_content  select {
	width: 176.4px;
	height: 20.8px;
	font-size: 14px;
	color: #4A4A4A;
	border-radius: 5px;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}


#activmag_result_top {
	width: 1000px;
	height: 59px;
	line-height: 66px;
	margin-left: 20px;
	font-size: 16px;
	color: #4A4A4A;
}

#activmag_result_content {
	width: 1000px;
	height: 375px;
	margin-left: 20px;
}

#activmag_result_table {
	border: 1px;
	border-color: white;
}

#activmag_result_content table tr:nth-child(odd) {
	background: #F4F4F4;
}

#activmag_result_content table {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-collapse: collapse;
}

#activmag_result_content  th {
	height: 33px;
	font-size: 16px;
	color: white;
	font-weight: normal;
	text-align: center;
	background-color: #4F93B6;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid #F4F4F4;
}

#activmag_result_content  td {
	height: 33px;
	font-size: 16px;
	color: #4A4A4A;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.img_search {
	margin-right: 10px;
	cursor: pointer;
}

.img_add {
	cursor: pointer;
}

.img_delete {
	margin-left: 10px;
	cursor: pointer;
}

#activmag_result_bottom {
	width: 1000px;
	height: 90px;
	line-height: 90px;
}

#page {
	width: 35px;
	height: 35px;
	background-color: #62A1C2;
	border-radius: 5px;
	text-align: center;
	line-height: 35px;
	color: white;
	margin-top: 27.5px;
	margin-left: 22px;
	margin-right: 22px;
	float: left;
}

#after_page {
	color: #4A4A4A;
	font-size: 16px;
	float: left;
}

#next_page {
	color: #4A4A4A;
	font-size: 16px;
	float: left;
}

#jump_page {
	width: 170px;
	height: 90px;
	font-size: 16px;
	color: #4A4A4A;
	float: right;
}

#jump_page select {
	width: 69px;
	height: 22px;
	border-radius: 5px;
	color: #4A4A4A;
	text-align: center;
	text-align-last: center;
}